# Get Started

After forking this notebook, run the code in the following cell:

In [1]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
hacker_news = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="hacker_news")

# print the first couple rows of the "comments" table
hacker_news.head("comments")

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking
0,2701393,5l,5l,1309184881,2011-06-27 14:28:01+00:00,And the glazier who fixed all the broken windo...,2701243,None,None,0
1,5811403,99,99,1370234048,2013-06-03 04:34:08+00:00,Does canada have the equivalent of H1B/Green c...,5804452,None,None,0
2,21623,AF,AF,1178992400,2007-05-12 17:53:20+00:00,"Speaking of Rails, there are other options in ...",21611,None,None,0
3,10159727,EA,EA,1441206574,2015-09-02 15:09:34+00:00,Humans and large livestock (and maybe even pet...,10159396,None,None,0
4,2988424,Iv,Iv,1315853580,2011-09-12 18:53:00+00:00,I must say I reacted in the same way when I re...,2988179,None,None,0

# Question
Using the Hacker News dataset in BigQuery, answer the following questions:

#### 1) How many stories (use the "id" column) are there of each type (in the "type" column) in the full table?

In [ ]:
# Your Code Here

#### 2) How many comments have been deleted? (If a comment was deleted the "deleted" column in the comments table will have the value "True".)

In [ ]:
# Your Code Here

#### 3) Modify one of the queries you wrote above to use a different aggregate function.
You can read about aggregate functions other than COUNT() **[in these docs](https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#aggregate-functions)**

In [ ]:
# Your Code Here

---

# Keep Going
[Click here](https://www.kaggle.com/dansbecker/order-by) to move on and learn about the ORDER BY clause.

# Feedback
Bring any questions or feedback to the [Learn Discussion Forum](kaggle.com/learn-forum).

----

*This exercise is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*